@import url("food-list.css");

.explanation {
  text-decoration: underline;
}

.flexbox-container {
  display:flex;
  flex-direction: row;
}

.flex-item {
  padding: 10px;
  min-width: 460px;
}

.medium-text-area {
  height: 80px;
  width: 300px;
}

.pull-right {
  float: right;
  font-family: sans-serif;
}

.pull-left {
  float: left;
}

.email-status {
  border: 1px solid #aeaeae;
  padding: 5px;
}
